.test {
  position: relative;
  height: 10px;
  background: linear-gradient(
    76deg,
    rgba(0, 143, 183, 1) 0%,
    rgb(246, 205, 117) 32%,
    rgba(242, 122, 16, 1) 48%,
    rgba(255, 55, 223, 1) 100%
  );
}

.testblur {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  filter: blur(10px);
}

.brand {
  font-size: 5em;
}

.brand {
  -webkit-background-clip: text;
	background-clip: text;
  // background-image: url('https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTc0fHx0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  // background-image: url('https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTIyfHx0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-image: url('https://images.unsplash.com/photo-1546007946-21a226a79f8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTkyfHx0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
	color: transparent;
  background-size: contain;
  font-size: 10em;
  font-weight: bold;
  transition: 100ms ease-in-out color, 100ms ease-in-out background-image;
  &:hover {
    // color: transparent;
    background-image: url('https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTIyfHx0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60')
  }
}

.teaserText {
  font-weight: normal;
  text-align: right;
}